<ion-view title="About">
  <ion-nav-buttons side="left">
    <button class="button button-light" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i> Back
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="about">
        <p>
            <strong>Chennai Market</strong> helps you to know the live market
            price for vegetables, fruits, gold, silver, petrol and diesel in Chennai City.
            We tried to bridge the gap between people and technology.
        </p>

        <div>
            <!-- <button class="button button-block button-balanced" ng-click="rateUs()">Rate us</button> -->
            <button class="button button-block button-balanced" ng-click="share()">Share with friends</button>
            <button class="button button-block button-balanced" ng-click="feedback()">Feedback</button>
        </div>

        <small>
            Built by Fizer Khan with Love and Care.
        </small>
    </div>
  </ion-content>
</ion-view>