<ion-view title="Gold &amp; Silver">
  <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">
    <i class="icon flaticon-gold1"></i>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item type="item-text-wrap">
      24 Carot - {{gold[0].price}}
      </ion-item>
      <ion-item type="item-text-wrap">
      24 Carot - {{gold[1].price}}
      </ion-item>
      <ion-item type="item-text-wrap">
      22 Carot -  {{gold[2].price}}
      </ion-item>
      <ion-item type="item-text-wrap">
      22 Carot - {{gold[3].price}}
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item type="item-text-wrap">
      24 Carot -  {{silver[0].price}}
      </ion-item>
      <ion-item type="item-text-wrap">
      22 Carot - {{silver[1].price}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
