<ion-view title="Gold &amp; Silver">
  <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">
    <i class="icon flaticon-gold1"></i>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item type="item-text-wrap">
        <span class="item-name">Gold  22 karat (1 grm.) </span>
        <span class="item-price"> (Rs) {{gold[2].price}}</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span class="item-name">Gold  22 karat (8 grms.) </span>
        <span class="item-price"> (Rs) {{gold[3].price}}</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span class="item-name">Gold 24 karat (1 grm) </span>
        <span class="item-price"> (Rs) {{gold[0].price}}</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span class="item-name">Gold  24 karat (8 grms.) </span>
        <span class="item-price"> (Rs) {{gold[1].price}}</span>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item type="item-text-wrap">
        <span class="item-name">Silver 1 Grm</span>
        <span class="item-price"> (Rs) {{silver[0].price}}</span>
      </ion-item>
      <ion-item type="item-text-wrap">
        <span class="item-name">Silver 1 Kg</span>
        <span class="item-price"> (Rs) {{silver[1].price}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
