<ion-view title="About">
  <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">
    <i class="icon flaticon-user91"></i>
  </ion-nav-bar>
  <ion-content>
    <div class="about">
        <p>
            <strong>Chennai Market</strong> gives you the current live market price for vegetables,
            fruits, gold and silver in Chennai City. We tried to bridge the gap
            between people and technology.
        </p>
        <p>
            If you like this app, please <strong>rate us</strong> in Google Play store and share with your friends and family members.
        </p>
        <p>
            Built by Fizer Khan with Love and Care.
        </p>
    </div>
  </ion-content>
</ion-view>