<ion-tabs class="tabs-icon-top">

  <ion-tab title="Vegetables" icon="flaticon-carrot3" href="#/tab/vegetables">
    <ion-nav-view name="tab-vegetables"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Fruits" icon="flaticon-apple54" href="#/tab/fruits">
    <ion-nav-view name="tab-fruits"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Gold" icon="flaticon-gold1" href="#/tab/goldsilver">
    <ion-nav-view name="tab-goldsilver"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon="flaticon-user91" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
