/* Empty. Add your own CSS if you like */

.tabs {
    height: 60px;
    background: #ede5e2 !important;
    border-top-color: #b2b2b2 !important;
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    opacity: 1;
    color: #fd7400;
}

.tab-item .icon {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    height: 32px;
    font-size: 32px;
}

.tab-title {
    display: block;
    margin: 0 auto;
}

.about {
    font-family: 'Lato', sans-serif;
    padding: 20px;
}

.about p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
}

.item {
    border-color: #efefef;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

.item-name {
    color: #004358;
    display: block;
    margin: 30px auto;
    text-align: center;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.item-price {
    font-family: 'Lato', sans-serif;
    display: block;
    margin: 30px auto;
    font-size: 22px;
    color: #1F8A70;
    text-align: center;
}
